<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Help</key>
	<array>
		<array>
			<string>Les deux cercles blancs en bas de l&apos;écran représentent des &quot;experimentations&quot;.</string>
			<string>En pressant les expérimentations, vous produisez des petits cercles blancs qui montent, appelés &quot;expériences&quot;. Chaque expérience a une &quot;valeur&quot; numérique qui s&apos;affiche à sa droite.</string>
			<string>Votre score (en haut à gauche) est la somme des valeurs des dix dernières expériences. Essayez d&apos;atteindre 10 avant de passer au niveau suivant.</string>
		</array>
		<array>
			<string>Certaines expérimentations peuvent changer &quot;l&apos;état du monde&quot;.</string>
			<string>Après avoir atteint le score de 10, continuez à jouer jusqu&apos;a ce que vous ayez compris quelle expérimentation change l&apos;état du monde dans le niveau 1.</string>
			<string>Ensuite, tapez sur &quot;Imagine&quot; (en bas à droite) pour voir une interprétation possible du monde qui peut expliquer ce fonctionnement.</string>
		</array>
		<array>
			<string>Les expérimentations peuvent produire des expériences différentes en fonction de l&apos;état du monde dans lequel elles sont effectuées.</string>
			<string>Les expériences qui ont une valeur positive sont consédérées &quot;plaisantes&quot;, et celles qui ont une valeur négative &quot;déplaisantes&quot;.</string>
			<string>Essayez de générez une séquence d&apos;expériences plaisantes.</string>
		</array>
		<array>
			<string>Vous pouvez repérer les expérimentations par leur forme et les expériences par leur couleur.</string>
			<string>Presser longuement une experimentation pour changer sa forme. Cela changera aussi la forme des experiences produites par cette expérimentation.</string>
			<string>Presser longuement une experience pour changer sa couleur. Cela changera aussi la couleur des autres expériences produites par la même expérimentation et donnant le même résultat.</string>
		</array>
		<array>
			<string>Dans le monde du niveau 4, vous ne pouvez pas toujours éviter les expériences déplaisantes.</string>
			<string>Essayez juste de générer une séquence qui contienne aussi peu d&apos;expériences déplaisantes que possible.</string>
			<string>Pour vous aider, vous pouvez afficher les expériences plaisantes en vert et les déplaisantes en rouge.</string>
		</array>
		<array>
			<string>Observez le comportement individuel des expérimentations quand vous les utilisez seules plusieurs fois de suite. Celles qui produisent toujours le même résultat sont appelées &quot;expérimentations persistantes&quot;.</string>
			<string>Les expériementations persistantes vous permettent &quot;d&apos;observer l&apos;état du monde&quot; sans le modifier.</string>
			<string>Repérez quels états du monde vous permettent de faire des expériences plaisantes, et comment changer l&apos;état du monde.</string>
		</array>
		<array>
			<string>Au niveau 6, les expérimentations ont les mêmes effets qu&apos;au niveau 5, mais elles sont redisposées dans un ordre aléatoire et représentées initialement par des cercles identiques.</string>
			<string>C&apos;est à vous d&apos;attribuer les couleurs vertes et rouges aux expériences, et les formes carré et triangle aux experimentations sur la base des expériences produites. </string>
			<string>Essayez d&apos;attriber les mêmes formes aux experimentations qui produisent les mêmes effets qu&apos;au niveau 4, et les mêmes couleurs aux mêmes expériences. Il peut être utile de rejouer le niveau 4.</string>
		</array>
		<array>
			<string>Au niveau 7, les expériementations ont les mêmes effets qu&apos;aux niveaux 5 et 6, mais les expériences n&apos;ont pas les mêmes valeurs.</string>
			<string>Vous pouvez attribuer la couleur verte aux expériences qui sont plaisantes ou qui laissent espérer une expérience plaisante au coup suivant.</string>
			<string>Vous pouvez attribuer la couleur rouge aux expériences qui sont déplaisantes ou qui laissent craindre une expérience déplaisante au coup suivant.</string>
		</array>
		<array>
			<string>Au niveau 8, les expérimentations ont les mêmes effets et les mêmes valeurs qu&apos;au niveau 7.</string>
			<string>Par contre, l&apos;expérimentation représentée par un cercle produit toujours la même expérience. Cette expérimentation n&apos;apporte donc aucune information mais est néammoins utile pour changer l&apos;état du monde.</string>
		</array>
		<array>
			<string>Au niveau 9, les expérimentations ont les mêmes effets immédiats qu&apos;aux niveaux 5, 6, 7, et 8, mais, en plus, elles transforment le monde sur le long terme.</string>
			<string>Une fois que le monde a été transformé de manière appropriée, vous pouvez obtenir une expérience plaisante à chaque coup.</string>
		</array>
	</array>
</dict>
</plist>
