<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Help</key>
	<array>
		<array>
			<string>Au niveau 2.00, Little AI peut retourner les tuiles à sa droite et à sa gauche.</string>
			<string>Il peut effectuer une interaction très agréable dans une configuration bien particulière de son environnement.</string>
			<string>Notez qu&apos;une des commandes peut maintenant renvoyer trois types d&apos;interactions différentes.</string>
		</array>
		<array>
			<string>Le niveau 2.01 est identique au niveau 2.00.</string>
			<string>Cette série de niveaux illustre le problème d&apos;apprendre la persistance des objets dans le monde.</string>
			<string>Ce problème met en oeuvre une mémoire spatiale rudimentaire qui pourrait ouvrir la voie à une intelligence spatiale de plus haut niveau.</string>
		</array>
		<array>
			<string>Little AI commence à manipuler un objet plus complexe en deux parties. </string>
			<string>Nous n&apos;avons pas encore d&apos;algorithmes capables de jouer aux niveaux 2.00 à 2.02. Si vous souhaitez contribuer à la recherche en IA développementale, vous pouvez vous attaquer à ce problème.</string>
			<string>Vous pouvez aussi inventer d&apos;autres niveaux qui illustrent le problème d&apos;apprendre à interagir avec des objets plus complexes.</string>
		</array>
	</array>
</dict>
</plist>
