<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Help</key>
	<array>
		<array>
			<string>Les deux cercles blancs en bas de l&apos;écran représentent des &quot;experimentations&quot;.</string>
			<string>En pressant les expérimentations, vous produisez des petits cercles blancs qui montent, appelés &quot;expériences&quot;. Chaque expérience a une &quot;valeur&quot; numérique qui s&apos;affiche à sa droite.</string>
			<string>Votre score (en haut à gauche sous cette fenêtre) est la somme des valeurs des dix dernières expériences. Essayez d&apos;atteindre 10 avant de passer au niveau suivant.</string>
		</array>
		<array>
			<string>Une expérience est l&apos;association d&apos;une expérimentation effectuée et d&apos;un &quot;résultat&quot; obtenu.</string>
			<string>Au niveau 1, les expérimentations sont représentées par des formes différentes, et les résultats par des couleurs différentes.</string>
			<string>Après avoir atteint le score de 10, tapez sur l&apos;icône &quot;nuage&quot; qui apparait au dessus du robot pour voir les effets produits par les expérimentations dans un monde imaginaire. </string>
		</array>
		<array>
			<string>Les expérimentations peuvent produire des expériences différentes en fonction de &quot;l&apos;état du monde&quot; dans lequel elles sont effectuées. Elles peuvent changer l&apos;état du monde.</string>
			<string>Les expériences qui ont une valeur positive sont consédérées &quot;plaisantes&quot;, et celles qui ont une valeur négative &quot;déplaisantes&quot;.</string>
			<string>Essayez de générez une séquence d&apos;expériences plaisantes.</string>
		</array>
		<array>
			<string>Presser longuement une experimentation pour changer sa forme. Cela changera aussi la forme des experiences produites par cette expérimentation.</string>
			<string>Presser longuement une experience pour changer sa couleur. Cela changera aussi la couleur des autres expériences produites par la même expérimentation et donnant le même résultat.</string>
			<string>Les formes et les couleurs sont uniquement illustratives. Quand vous les changez, elles ne changent pas les comportements des expérimentations ni les valeurs des expérience.</string>
		</array>
		<array>
			<string>Dans le monde du niveau 4, vous ne pouvez pas toujours éviter les expériences déplaisantes.</string>
			<string>Essayez juste de générer une séquence qui contienne aussi peu d&apos;expériences déplaisantes que possible.</string>
			<string>Vous pouvez afficher les expériences plaisantes en vert et les déplaisantes en rouge. Cela peut vous aider à voir apparaitre une régularité.</string>
		</array>
		<array>
			<string>Observez le comportement individuel des expérimentations quand vous les utilisez seules plusieurs fois de suite. L&apos;une d&apos;entre elles produit toujours la même expérience dans un état du monde donné. C&apos;est une expérimentation &quot;persistante&quot;.</string>
			<string>Cette expériementation persistante vous permet &quot;d&apos;observer l&apos;état du monde&quot; sans le modifier.</string>
			<string>Les couleurs des expériences peuvent aider à repérer les états du monde qui offrent des possibilités d&apos;expériences plaisantes.</string>
		</array>
		<array>
			<string>Au niveau 6, les expérimentations ont les mêmes effets qu&apos;au niveau 5, mais elles sont redisposées dans un ordre aléatoire et représentées initialement par des cercles identiques.</string>
			<string>C&apos;est à vous d&apos;attribuer les couleurs vertes et rouges aux expériences, et les formes carré et triangle aux experimentations sur la base des expériences produites. </string>
			<string>Essayez de choisir les mêmes formes et couleurs qu&apos;au niveau 5. Il peut être utile de rejouer le niveau 5.</string>
		</array>
		<array>
			<string>Au niveau 7, les expériementations ont les mêmes effets qu&apos;aux niveaux 5 et 6, mais certaines expériences ont des valeurs différentes.</string>
			<string>Vous pouvez attribuer la couleur verte aux expériences qui sont plaisantes ou qui laissent espérer une expérience plaisante au coup suivant.</string>
			<string>Vous pouvez attribuer la couleur rouge aux expériences qui sont déplaisantes ou qui laissent craindre une expérience déplaisante au coup suivant.</string>
		</array>
		<array>
			<string>Au niveau 8, les expérimentations ont les mêmes effets et les mêmes valeurs qu&apos;au niveau 7.</string>
			<string>Par contre, l&apos;expérimentation représentée par un cercle produit toujours la même expérience. Cette expérimentation n&apos;apporte donc aucune information mais est néammoins utile pour changer l&apos;état du monde.</string>
		</array>
		<array>
			<string>Au niveau 9, les expérimentations ont les mêmes effets immédiats qu&apos;aux niveaux 5, 6, 7, et 8, mais, en plus, elles transforment le monde sur le long terme.</string>
			<string>Une fois que le monde a été transformé de manière appropriée, vous pouvez obtenir une expérience plaisante à chaque coup.</string>
		</array>
		<array>
			<string>Le monde du niveau 10 est identique au monde du niveau 9, et les expériences ont les mêmes valeurs.</string>
			<string>Comme au niveau 8, il y a une expérimentation qui produit toujours la même expérience mais qui change l&apos;état du monde.</string>
		</array>
	</array>
</dict>
</plist>
