<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Help</key>
	<array>
		<array>
			<string>Welcome to Little AI!</string>
			<string>Tap the &quot;commands&quot; (white circles at the bottom of the screen). You may keep this information window open at the same time.</string>
			<string>Reach the score of 10 (displayed on the upper left of the game window). The score if the sum of the last ten values produced by your commands.</string>
		</array>
		<array>
			<string>The commands generate &quot;events&quot; of interaction between the robot and its environment (small colored symbols that move up).</string>
			<string>On each level, reach the score of ten, and then follow Little AI&apos;s recommendations: press the &quot;gears&quot; button to watch the effects of the commands, and the &quot;podium&quot; button to see the leaderboard. </string>
			<string>Drag the robot to the left or to the right to shift levels.</string>
		</array>
		<array>
			<string>You may imagine that the robot finds the events that have a positive value enjoyable, and those that have a negative value unpleasant.</string>
			<string>Generate a sequence of enjoyable events.</string>
			<string>Tap an event to replay the same command. Depending on the context, this may produce an event of the same type or not. To replay an entire sequence, repeatedly tap the &quot;next command&quot; (white shape that appears on the left when you tap an event).</string>
		</array>
		<array>
			<string>Press and hold a command to change its shape.</string>
			<string>Press and hold an event to change its color.</string>
			<string>Change the shapes of commands and the color of events to recognize them. Shapes and colors are purely descriptive. They don&apos;t change the robot.</string>
		</array>
		<array>
			<string>In the world of Level 4, the robot cannot always avoid unpleasant events.</string>
			<string>Generate a sequence that contains as few unpleasant events as possible.</string>
			<string>Use different shapes for the commands, and display the enjoyable events in green and the unpleasant events in red to highlight regularities.</string>
		</array>
		<array>
			<string>Experiment with each command individually several times in a raw. One of the commands always generate the same type of events in a given situation. It is a &quot;persistent&quot; command.</string>
			<string>The persistent command allows you to observe the situation of the robot without modifying it.</string>
			<string>Use the colors of events to identify the situations that afford enjoyable events.</string>
		</array>
		<array>
			<string>In Level 6, the commands have the same effects as in Level 5, but they have been rearranged in a random order, and are all initially represented by circles.</string>
			<string>It is left to you to attribute the green and red colors to events, and the square and triangle shapes to commands on the basis of the effects that they produce.</string>
		</array>
		<array>
			<string>In Level 7, the commands have the same effects as in Levels 5 and 6, but some events have different values.</string>
			<string>Display the events that make you hope an enjoyable event on the next move in green.</string>
			<string>Display the events that make you fear an unpleasant event on the next move in red.</string>
		</array>
		<array>
			<string>On Level 8, events have the same effects and the same values as in Level 7.</string>
			<string>One of the commands changes the robot&apos;s situation while always returning the same type of event. This command executes a &quot;non-informative action&quot;.</string>
		</array>
		<array>
			<string>On level 9, the commands have the same immediate effects as in Levels 5, 6, 7, and 8, but they also change the environment on the long term.</string>
			<string>The robot must transform its environment until it can enact an enjoyable event on every move.</string>
		</array>
		<array>
			<string>Level 10&apos;s world is similar to Level 9&apos;s, and events have the same values.</string>
			<string>As in Level 8, one of the commands changes the robot&apos;s situation while always returning the same type of event (non-informative action).</string>
		</array>
		<array>
			<string>The robot can move forward and turn in a little box.</string>
			<string>This robot loves moving forward but hates bumping into the edges.</string>
		</array>
		<array>
			<string>The box is even smaller.</string>
			<string>Scroll the events downwards to review past events.</string>
			<string>Press the score to see your number of moves.</string>
		</array>
		<array>
			<string>Level 13 offers the same commands as Levels 11 and 12 plus a command that allows the robot to observe its situation without modifying it (persistent command).</string>
			<string>This robot hates bumping, and quite dislikes turning. Fortunately, the box is getting bigger!</string>
			<string>Use the persistent experiment to avoid bumping into the edges.</string>
		</array>
		<array>
			<string>Level 14&apos;s world is the same as Level 13&apos;s.</string>
			<string>You are in the same situation as a newborn baby that ignores the effects of its gestures and the meaning of its senses, as well of a robot that ignores the signification of its actuators and sensors.</string>
		</array>
		<array>
			<string>The robot has two additional commands that it can use to feel the edges around it.</string>
			<string>Use these two commands to evoid turning towards the edges.</string>
			<string>The box is getting even bigger.</string>
		</array>
		<array>
			<string>The same world as in Level 15 with the same commands initially uninterpreted.</string>
			<string>If you are curious to learn more about developmental artificial intelligence and how to program robots that can play Little AI and more, consider visiting http://little-ai.com.</string>
		</array>
		<array>
			<string>You reached the last level ! Congratulations! It is similar to Level 16.</string>
			<string>Little AI is a free open-source research and pedagogical project. To learn more, please visit http://little-ai.com.</string>
			<string>If you found Little AI enjoyable or instructive, or both, please consider making a small donation. You will support reasearch in developmental AI that remains open-source and independant from commercial companies. You will also help us create more levels ! </string>
		</array>
	</array>
</dict>
</plist>
