<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Help</key>
	<array>
		<array>
			<string>Welcome to Little AI!</string>
			<string>Tap the &quot;commands&quot; (white circles at the bottom of the screen). You may keep this information window open at the same time.</string>
			<string>Reach the score of 10 (displayed on the upper left of the game window). Your score is the sum of the values produced by your last ten commands.</string>
		</array>
		<array>
			<string>The commands generate &quot;events&quot; of interaction between the robot and its environment (small shapes that move up).</string>
			<string>On each level, reach the score of 10. Next, follow Little AI&apos;s recommendations: press the &quot;gears&quot; to watch the effects of the commands, and the &quot;podium&quot; to see the leaderboard. </string>
			<string>Drag the robot to the left or to the right to shift levels.</string>
		</array>
		<array>
			<string>Imagine that the robot finds the events that have a positive value enjoyable, and those that have a negative value unpleasant.</string>
			<string>Generate a sequence of enjoyable events.</string>
			<string>Tap an event to replay the same command. The same command replayed in the same context yields the same event. To replay an entire sequence, repeatedly tap the &quot;next command&quot; (white shape that appears on the left when you tap an event).</string>
		</array>
		<array>
			<string>Press and hold a command to change its shape.</string>
			<string>Press and hold an event to change its color.</string>
			<string>Change the shapes of commands and the colors of events to recognize them. Shapes and colors are purely descriptive. They do not change the robot.</string>
		</array>
		<array>
			<string>In the world of Level 4, the robot cannot always avoid unpleasant events.</string>
			<string>Generate a sequence that contains as few unpleasant events as possible. </string>
			<string>Use different shapes for the commands. Display the enjoyable events in green and the unpleasant events in red. Don&apos;t think too much, your brain will see the pattern before you know it!</string>
		</array>
		<array>
			<string>Experiment with each command individually several times in a raw. One of the commands always yields the same events in a given situation. It is a &quot;persistent&quot; command.</string>
			<string>The persistent command allows you to observe the situation of the robot without modifying it.</string>
			<string>Use the colors of events to identify the situations that afford enjoyable events.</string>
		</array>
		<array>
			<string>In Level 6, the commands have the same effects as in Level 5, but they have been rearranged in a random order, and are all initially represented by circles.</string>
			<string>It is left to you to attribute shapes to commands and colors to events.</string>
			<string>Display the events that make you hope for an enjoyable event on the next round in green, and those that let you fear for an unpleasant event in red.</string>
		</array>
		<array>
			<string>In Level 7, the commands have the same effects as in Levels 5 and 6, but some events have different values.</string>
			<string>Tap the events to replay enjoyable sequences in the context when it is possible.</string>
			<string>When you replay a sequence, skip the persistent commands to maximize your score.</string>
		</array>
		<array>
			<string>On Level 8, the commands have the same effects as in Levels 5 to 7.</string>
			<string>Now, however, one of the commands always yields the same events. This command executes a &quot;non-informative action&quot;.</string>
			<string>Although non-informative actions always yield the same events, do not mistake them for persistent commands.</string>
		</array>
		<array>
			<string>On level 9, the commands have the same immediate effects as in Levels 5, 6, 7, and 8, but they also transform the environment on the long term.</string>
			<string>The robot must transform its environment until it can enact an enjoyable event on every move.</string>
		</array>
		<array>
			<string>Level 10&apos;s world is similar to Level 9&apos;s, and events have the same values.</string>
			<string>As in Level 8, one of the commands always returns the same type of event (non-informative action).</string>
		</array>
		<array>
			<string>The robot can move forward and turn in a little box.</string>
			<string>This robot loves moving forward but hates bumping into the edges of the box.</string>
		</array>
		<array>
			<string>The box is even smaller.</string>
			<string>Scroll to review the last 100 events. Double-tap on an empty area to scroll back to origin.</string>
			<string>Press the score to see your number of moves.</string>
		</array>
		<array>
			<string>Level 13 offers the same commands as Levels 11 and 12 plus a command that allows the robot to observe its situation without modifying it (persistent command).</string>
			<string>This robot hates bumping, and quite dislikes turning. Fortunately, the box is getting bigger!</string>
			<string>Use the persistent experiment to avoid bumping into the edges.</string>
		</array>
		<array>
			<string>Level 14&apos;s world is the same as Level 13&apos;s.</string>
			<string>You are in an analogous situation as a newborn baby that ignores the signification of its gestures and of its senses, or of a robot that ignores the signification of its actuators and sensors.</string>
			<string>You must learn to know yourself and your environment to live a happy life!</string>
		</array>
		<array>
			<string>The robot has two additional commands that it can use to feel the edges around it.</string>
			<string>Use these two commands to avoid turning towards the edges.</string>
			<string>The box is getting even bigger.</string>
		</array>
		<array>
			<string>You are in the same world as in Level 15 with the same commands initially uninterpreted.</string>
			<string>Little AI is a free open-source research and pedagogical project driven by passionate volunteers in collaboration with academia.</string>
			<string>If you wish to learn more about us and about research in developmental artificial intelligence, consider visiting http://little-ai.com.</string>
		</array>
		<array>
			<string>You reached the last level ! Congratulations! It is similar to Level 16.</string>
			<string>If you found Little AI enjoyable or instructive, or both, please consider making a small donation.</string>
			<string>Your donations will contribute to progress in artificial intelligence and help us spread this progress freely. You will also help us create more levels!</string>
		</array>
	</array>
</dict>
</plist>
