<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Help</key>
	<array>
		<array>
			<string>Now Little AI can flip the tiles on its left and on its right.</string>
			<string>It can experience a delightful interaction in a specific configuration of the environment.</string>
		</array>
		<array>
			<string>Level 2.01 is identical to Level 2.00.</string>
			<string>This group of levels illustrates the problem of learning the persistence of complex objects in the world from initially uninterpreted experiences. </string>
		</array>
		<array>
			<string>Little AI begins to manipulate a more complex object made of two different parts. </string>
			<string>We currently don&apos;t have algorithms that can play levels 200 to 202. If you wish to contribute to research in developmental AI, you may address this problem.</string>
			<string>You may also invent more levels that exemplify the problem of learning the existence of more complex object from experience of interaction.</string>
		</array>
	</array>
</dict>
</plist>
