<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Help</key>
    <array>
      <array>
        <string>На уровне 2.00, Little Al может поворачивать плитки влево и вправо.</string>
        <string>Это может стать восхитительным опытом взаимодействия в особых условиях конфигурации.</string>
        <string>Обратите внимание, что одна команда теперь может выполнять три разных взаимодействия.</string>
      </array>
      <array>
        <string>Уровень 2.01 идентичен уровню 2.00</string>
        <string>Эта серия игр иллюстрирует проблему изучения постоянства объектов в мире.</string>
        <string>Она включает в себя использование примитивной пространственной памяти, которая может заложить основу для более сложных пространственных задач. </string>
      </array>
      <array>
        <string>Little Al начинает управлять более сложными объектами, состоящими из двух разных частей.</string>
        <string>В настоящее время у нас нет алгоритмов, которые могут использоваться с уровня 2.00 до уровня 2.02 автоматически. Если вы хотите содействовать исследованиям в области развития Al и можете решить эту проблему, свяжитесь с нами.</string>
        <string>Вы также можете придумать больше уровней, которые будут иллюстрировать проблемы взаимодействия с более сложными объектами. </string>
      </array>
    </array>
  </dict>
</plist>
