<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Help</key>
    <array>
      <array>
        <string>Добро пожаловать в Little AI!</string>
        <string>При помощи кнопок, расположенных в нижней части экрана, Вы можете управлять маленьким роботом по имени Little AI. Ваша цель - набрать 10 очков за 10 переворотов.</string>
        <string>В процессе игры, Вы выбираете цветные кружки и квадраты, называемые "взаимодействием". Ваши баллы складываются из последний десяти взаимодействий. Да да, именно из последних десяти!</string>
        <string>Когда Вы наберете 10 баллов, Вы получите возможность включить режим воспроизведения, чтобы еще лучше понять и оценить суть игры.</string>
      </array>
      <array>
        <string>Взаимодействие представляет собой набор команд с обратной связью. Команды различаются по форме и обратной связи, обозначенной соответствующими цветами. Поток взаимодействий называется "следом".</string>
        <string>Чтобы лучше понять игру, целесообразно соблюдать следующий порядок: 1- читать инструкцию, 2 - проходить уровни, 3 - просматривать успешно завершенные уровни в режиме "повтора".</string>
        <string>Перетащите 2D робота вправо или влево, чтобы перейти к предыдущему или следующему уровню соответственно.</string>
      </array>
      <array>
        <string>Little AI ощущает взаимодействия как более или менее приятные или неприятные. Точки, связанные с взаимодействиями указывают на выраженность этих чувств.</string>
        <string>Вы можете создать шаблон приятных взаимодействий.</string>
        <string>Tap an interaction in the trace to replay a previous command. The same command replayed upon the same object yields the same interaction. To replay an entire pattern of interactions, tap the "next command" several times (white shape that appears on the left when you tap an interaction).</string>
      </array>
      <array>
        <string>Press and hold a command to change its shape. Press and hold an interaction in the trace to change its color.</string>
        <string>Change the shapes of the commands and the colors of interactions to recognize them. Shapes and colors are purely descriptive. They do not change the robot.</string>
        <string>You can also recognize interactions by the cries your baby robot makes. In this game, your ears can also help you!</string>
      </array>
      <array>
        <string>In Level 4, Little AI cannot always avoid unpleasant interactions.</string>
        <string>Generate a pattern of interaction that contains as few unpleasant interactions as possible. </string>
        <string>Use different shapes for the commands. Display the enjoyable interactions in green and the unpleasant interactions in red. Don't think too much, your brain will see the pattern before you know it!</string>
      </array>
      <array>
        <string>Experiment with each command alone several times in a row. In the trace, you will see that one command always yields the same interaction within a given situation (same shape and same color).</string>
        <string>This command allows you to observe the world without changing it. We call it an "observational command", and its resulting interactions "observational interactions".</string>
        <string>Use the color of observational interactions to avoid performing a strongly unpleasant interaction on the next turn.</string>
      </array>
      <array>
        <string>In Level 6, the commands have the same effects as in Level 5, but they have been rearranged in a random order, and are all initially represented by circles.</string>
        <string>Это остается вам атрибутом формы для команд и цветом для взаимодействия. </string>
        <string>Display in green the interactions that are enjoyable or premonitory of an enjoyable interaction in the next turn, and in red those that are strongly unpleasant or premonitory of a strongly unpleasant interaction in the next turn.</string>
      </array>
      <array>
        <string>In Level 7, the commands have the same effects as in Levels 5 and 6, but the values of interactions are different.</string>
        <string>Tap the interactions in the trace to replay enjoyable patterns of interaction in the context when it is possible.</string>
        <string>When you replay a pattern, skip the observational commands to maximize your score.</string>
      </array>
      <array>
        <string>On Level 8, the commands have the same effects as in Levels 5 to 7.</string>
        <string>Now, however, one of the commands always yields the same interaction. This is a "non-informative command".</string>
        <string>Although non-informative commands always yield the same interaction, do not mistake them for observational commands.</string>
      </array>
      <array>
        <string>The commands have similar effects as in the previous levels, but they also transform the environment on the long term.</string>
        <string>Little AI must transform its environment until it can enact an enjoyable interaction on every turn.</string>
      </array>
      <array>
        <string>Level 10's world is the same as Level 9's.</string>
        <string>Let's see if you can tell the observational command and the non-informative command apart.</string>
      </array>
      <array>
        <string>In Level 11, Little AI can move forward and turn in a little box.</string>
        <string>It loves moving forward but hates bumping into the edges of the box.</string>
      </array>
      <array>
        <string>The box is even smaller.</string>
        <string>Scroll to review the last 100 interactions. Double-tap on an empty area to scroll back to origin.</string>
        <string>Press the score to see your number of turns.</string>
      </array>
      <array>
        <string>Level 13 offers the same commands as Levels 11 and 12 plus an observational command.</string>
        <string>Now Little AI really hates bumping, and quite dislikes turning. Fortunately, the box is getting bigger!</string>
        <string>Use the observational command to avoid bumping into the edges.</string>
      </array>
      <array>
        <string>Level 14's world is the same as Level 13's.</string>
        <string>As a player, you are in an analogous situation as a newborn baby that ignores the signification of its gestures and of its senses, or of a robot that ignores the signification of its actuators and sensors.</string>
        <string>You must learn to know yourself and your environment to live a happy life!</string>
      </array>
      <array>
        <string>Little AI now has two additional observational commands that it can use to observe the edges of the box on its right and on its left.</string>
        <string>Use these additional possibilities of observation to avoid turning towards the edges of the box.</string>
        <string>The box is getting even bigger.</string>
      </array>
      <array>
        <string>You are in the same world as in Level 15 with the same commands initially uninterpreted.</string>
        <string>Little AI is a free open-source research and pedagogical project driven by enthusiast volunteers in collaboration with academia.</string>
        <string>If you wish to learn more about research in developmental artificial intelligence and about us, consider visiting http://little-ai.com.</string>
      </array>
      <array>
        <string>You reached the last level of series #0! Congratulations! It is similar to Level 16.</string>
        <string>If you found Little AI enjoyable or instructive, or both, please consider making a small donation.</string>
        <string>Your donations will support the creation of new levels. It will also promote independent and open-source research in developmental artificial intelligence.</string>
      </array>
    </array>
  </dict>
</plist>
