<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Help</key>
    <array>
      <array>
        <string>Добро пожаловать в Little AI!</string>
        <string>При помощи кнопок, расположенных в нижней части экрана, Вы можете управлять маленьким роботом по имени Little AI. Ваша цель - набрать 10 очков за 10 переворотов.</string>
        <string>В процессе игры, Вы выбираете цветные кружки и квадраты, называемые "взаимодействием". Ваши баллы складываются из последний десяти взаимодействий. Да да, именно из последних десяти!</string>
        <string>Когда Вы наберете 10 баллов, Вы получите возможность включить режим воспроизведения, чтобы еще лучше понять и оценить суть игры.</string>
      </array>
      <array>
        <string>Взаимодействие представляет собой набор команд с обратной связью. Команды различаются по форме и обратной связи, обозначенной соответствующими цветами. Поток взаимодействий называется "следом".</string>
        <string>Чтобы лучше понять игру, целесообразно соблюдать следующий порядок: 1- читать инструкцию, 2 - проходить уровни, 3 - просматривать успешно завершенные уровни в режиме "повтора".</string>
        <string>Перетащите 2D робота вправо или влево, чтобы перейти к предыдущему или следующему уровню соответственно.</string>
      </array>
      <array>
        <string>Little AI ощущает взаимодействия как более или менее приятные или неприятные. Точки, связанные с взаимодействиями указывают на выраженность этих чувств.</string>
        <string>Вы можете создать шаблон приятных взаимодействий.</string>
        <string>Коснитесь взаимодействия в трассировке, чтобы воспроизвести предыдущую команду. Одна и та же команда, воспроизводимая на одном и том же объекте, дает одно и то же взаимодействие. Чтобы воспроизвести весь шаблон взаимодействия, несколько раз нажмите «следующая команда» (белая фигура, которая появляется слева при нажатии на взаимодействие).</string>
      </array>
      <array>
        <string>Нажмите и удерживайте команду, чтобы изменить ее форму. Нажмите и удерживайте взаимодействие в трассе, чтобы изменить его цвет.</string>
        <string>Измените формы команд и цвета взаимодействий, чтобы распознать их. Формы и цвета являются чисто описательными. Они не меняют робота.</string>
        <string>Вы также можете узнать о взаимодействиях по крикам вашего ребенка робота. В этой игре ваши уши также могут помочь вам!</string>
      </array>
      <array>
        <string>На уровне 4 Little AI не всегда может избежать неприятных взаимодействий.</string>
        <string>Создайте образец взаимодействия, который содержит как можно меньше неприятных взаимодействий. </string>
        <string>Для команд используйте разные формы. Покажите приятные взаимодействия в зеленом цвете и неприятные взаимодействия в красном цвете. Не думайте слишком много, ваш мозг увидит образец, прежде чем вы это узнаете!</string>
      </array>
      <array>
        <string>Поэкспериментируйте с каждой командой несколько раз подряд. Вы увидите, что одна команда всегда дает одно и то же взаимодействие в данной ситуации (одинаковая форма и один и тот же цвет).</string>
        <string>Эта команда позволяет вам наблюдать за миром, не меняя его. Мы называем это «наблюдательной командой» и ее результатом взаимодействия «наблюдательные взаимодействия».</string>
        <string>Используйте цвет наблюдательных взаимодействий, чтобы избежать сильного неприятного взаимодействия в следующем ходу.</string>
      </array>
      <array>
        <string>На уровне 6 команды имеют такой же эффект, как и на уровне 5, но они отсортированы в случайном порядке и все первоначально представлены кругами.</string>
        <string>Это остается вам атрибутом формы для команд и цветом для взаимодействия. </string>
        <string>Покажите в зеленых взаимодействиях приятное или предчувствуют приятное взаимодействие в следующем повороте, а в красном - те, которые сильно неприятны или предчувствуют сильное неприятное взаимодействие в следующем повороте.</string>
      </array>
      <array>
        <string>In Level 7, the commands have the same effects as in Levels 5 and 6, but the values of interactions are different.</string>
        <string>Tap the interactions in the trace to replay enjoyable patterns of interaction in the context when it is possible.</string>
        <string>When you replay a pattern, skip the observational commands to maximize your score.</string>
      </array>
      <array>
        <string>On Level 8, the commands have the same effects as in Levels 5 to 7.</string>
        <string>Now, however, one of the commands always yields the same interaction. This is a "non-informative command".</string>
        <string>Although non-informative commands always yield the same interaction, do not mistake them for observational commands.</string>
      </array>
      <array>
        <string>The commands have similar effects as in the previous levels, but they also transform the environment on the long term.</string>
        <string>Little AI must transform its environment until it can enact an enjoyable interaction on every turn.</string>
      </array>
      <array>
        <string>Level 10's world is the same as Level 9's.</string>
        <string>Let's see if you can tell the observational command and the non-informative command apart.</string>
      </array>
      <array>
        <string>In Level 11, Little AI can move forward and turn in a little box.</string>
        <string>It loves moving forward but hates bumping into the edges of the box.</string>
      </array>
      <array>
        <string>The box is even smaller.</string>
        <string>Прокрутите, чтобы просмотреть последние 100 взаимодействий. Дважды нажмите на пустой области, чтобы прокрутить назад до начала.</string>
        <string>Нажмите счет, чтобы увидеть количество поворотов.</string>
      </array>
      <array>
        <string>Уровень 13 предлагает те же команды, что и уровни 11 и 12, плюс команду наблюдения.</string>
        <string>Теперь Little AI действительно ненавидит натыкаться, и довольно не любит поворачиваться. К счастью, коробка становится все больше!</string>
        <string>Используйте команду наблюдения, чтобы избежать столкновения с краями.</string>
      </array>
      <array>
        <string>Мир уровня 14 такой же, как и в уровене 13.</string>
        <string>Как игрок, вы находитесь в аналогичной ситуации, как новорожденный ребенок, который игнорирует значение своих жестов и чувств, или робота, который игнорирует значение своих приводов и датчиков.</string>
        <string>Вы должны научиться знать себя и свою среду, чтобы жить счастливой жизнью!</string>
      </array>
      <array>
        <string>Little AI теперь имеет две дополнительные команды наблюдения, которые он может использовать, чтобы наблюдать за краями прямоугольника справа и слева.</string>
        <string>Используйте эти дополнительные возможности наблюдения, чтобы не поворачиваться к краям коробки.</string>
        <string>Коробка становится еще больше.</string>
      </array>
      <array>
        <string>Вы находитесь в том же мире, что и на Уровне 15, с теми же командами, которые изначально были неинтерпретированы.</string>
        <string>Little AI это бесплатный научно-исследовательский и педагогический проект с открытым исходным кодом, созданный волонтерами-энтузиастами в сотрудничестве с научными кругами.</string>
        <string>Если вы хотите узнать больше об исследованиях в области искусственного интеллекта и о нас, подумайте о посещении http://little-ai.com.</string>
      </array>
      <array>
        <string>Вы достигли последнего уровня серии # 0! Поздравляем! Это похоже на уровень 16.</string>
        <string>Если вы нашли Little AI приятным или поучительным, или и то, и другое, подумайте о том, чтобы сделать небольшое пожертвование.</string>
        <string>Ваши пожертвования будут поддерживать создание новых уровней. Оно также будет способствовать независимым исследованиям с открытым исходным кодом в области искусственного интеллекта в области развития.</string>
      </array>
    </array>
  </dict>
</plist>
