<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Help</key>
    <array>
      <array>
        <string>В этой серии уровней ваш ребенок-робот взаимодействует с другим ребенком-роботом, который контролируется другим игроком.</string>
        <string>Нажмите кнопку "игрок", чтобы найти партнера для игры (требуется войти в Game Centre и iCloud)</string>
        <string>Обоим из вас необходимо нажимать на команды, чтобы взаимодействовать. Это командная игра. Вы оба выигрываете в одно и то же время.</string>
      </array>
      <array>
        <string>Танцуйте с вашим Little Al партнером.</string>
        <string>Убедитесь, что оба из вас играют на одном и том же уровне.</string>
        <string>Больше многопользовательских уровней выпустят в ближайшие месяцы, чтобы проиллюстрировать исследования по взаимодействию человека/робота.</string>
      </array>
    </array>
  </dict>
</plist>
